.App {
    text-align: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.time {
    text-align: center;
    min-width: 50%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.metrics {
    text-align: center;
    width: 50%;
}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    text-align: justify;
}

.loading {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}
